body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

#fruitList {
    list-style-type: none;
    padding: 0;
}

#fruitList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
